*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size: 12px;
}
a{
	text-decoration: none;
	color: #434343;
}
dl,dt,dd,ul,li{
	list-style: none;
}
img{
	border: 0;
	vertical-align: bottom;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
body{
	background: #fbfbfb;
}
/*    公共样式*/
.top{
	background:#fafafa;
	height: 36px;
}
.coont{
	width: 1205px;
	margin: 0 auto;
}
.topl{
	float: left;
	height:36px;
	line-height: 36px;
}
.topl ul li{
	float: left;
	color: #8c8c8c;
}
.topla{
	margin-left:28px;
	margin-right: 10px;
	color: #dfdfdf;
}
.topla a{
	margin-right: 12px;
}
.topl li a:hover{
	color:brown;
	text-decoration: underline;
}
.toplb{
	position: relative;
}
.toplb span{
	position: absolute;
	width: 216px;
	height: 30px;
	background:#94193F;
	text-align: center;
	line-height: 30px;
	left: 0;
	top: 36px;
	color: #fff;
	z-index: 2;
}
.toplb span i{
	width:0;
	height: 0;
	line-height: 0;
	font-size: 0;
	border-width: 10px;
	border-color:transparent transparent #94193F transparent; 
	position: absolute;
	left:5px;
	top: -14px;
	border-style: solid;
	font-style:normal;
}
/*i是小三角形的写法*/
.toplb span em{
	margin-left:10px;
}
.topr{
	float: left;
	margin-left: 550px;
	height: 36px;
	line-height: 36px;
}
.topr ul li{
	float: left;
	color: #dfdfdf;
	margin-right: 10px;
}
.topr ul li a{
	color: #8c8c8c;
	margin-right: 10px;
}
.topr .topra{
	color:#8c8c8c;
	position: relative;
	padding-left: 5px;
	margin-left: 5px;
}
.topr .topra p{
	background:url(../img/icon_list.png) no-repeat 0 -38px;
	width: 15px;
	height: 15px;
	position: absolute;
	left: -10px;
	top: 12px;
}
.topra em{
	font-style: normal;
	margin-left: 10px;
	color: #dfdfdf;
}
.topr ul li a:hover{
	text-decoration: underline;
	color:brown;
}
.topr .toprb{
	position: relative;
}
.topr .toprb p{
	position: absolute;
	background:url(../img/H.jpg) no-repeat;
	width: 140px;
	height: 154px;
	padding-top: 120px;
	text-align: center;
	color: #333;
	left:-15px;
	top: 36px;
	display: none;
	z-index: 2;
}
.topr .toprc{
	position: relative;
	width: 60px;
	height: 36px;
}
.to{
	border: solid 1px #ccc;
	border-bottom: none;
	background: #fff;
}
.topr .toprc ul{
	position: absolute;
	width:60px;
	z-index: 2;
	border: solid 1px #ccc;
	left:-1px;
	top: 36px;
	border-top: none;
	display: none;
}
.topr .toprc ul li{
	width: 60px;
}
/*以下是header部分*/
.header{
	overflow: hidden;
	background: #fff;
}
.logo{
	margin-top: 30px;
	position: relative;
	float: left;
}
.logol{
	position: absolute;
	left: 80px;
	top:25px;
}
.logor{
	margin-top:50px;
	float: left;
	margin-left:478px;
	position: relative;
}
.logor .logoa{
	width: 398px;
	height:34px;
	outline: none;
	border: solid 3px #94193f;
	padding-left:8px;
	
}
.logor .logob{
	width: 100px;
	height: 40px;
	background: #94193f;
	color: #fff;
	font-size: 16px;
    display: block;
	line-height: 40px;
	text-align: center;
	position: absolute;
	left: 398px;
	top:0 ;
}
.logor ul li{
	float: left;
	margin-right: 5px;
}
.logor ul li a{
	color: #8c8c8c;
}
.logor ul{
	overflow: hidden;
	margin-top: 10px;
}
.logor ul li a:hover{
	color:#94193f ;
}
.logoc{
	float: left;
	width: 130px;
	height: 38px;
	background:#f9f9f9;
	margin-top: 50px;
	margin-left: 15px;
	border: solid 1px #d8d8d8;
	position: relative;
}
.logoc .logof{
	width: 21px;
	height: 15px;
	display: inline-block;
	margin-left: 16px;
	margin-top: 12px;
	background: url(../img/icon_list.png) no-repeat -184px -736px;
}
.logoc span{
	color: #666;
}
.logoc .logod{
	display: inline-block;
	width: 13px;
	height: 11px;
	background: url(../img/icon_list.png) no-repeat -270px -737px;
	position: absolute;
	left:110px;
	top:16px ;
}
.logoc .logoe{
	position: absolute;
	top: -4px;
	right: 20px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	border-radius: 50%;
	background: #94193f;
	color: #fff;
	text-align: center;
	font-size: 12px;
}
/*以下是导航栏*/
.nav{
	height: 39px;
	line-height: 39px;
	border-bottom: solid 2px #94193f;
	background: #fff;
}
.navb{
	width:155px;
	text-align: center;
	background: #94193f;
	position: relative;
}
.nav ul li{
	float: left;
	padding: 0 30px;
	height: 39px;
	line-height: 39px;
}
.navb .nava{
	width: 16px;
	height: 8px;
	background: url(../img/icon_list.png) no-repeat -36px -128px;
	position: absolute;
	top: 19px;
	right: 16px;
}
.nav ul li a{
	font-size: 16px;
}
.nav .navb a{
	color: #fff;
}
.nav ul li a:hover{
	color: brown;
}
.nav .navc{
	margin-left:30px;
}
.nav .navc a{
	color: #94193f;
}
/*以下是banner图*/