.focus-banner{
	position: relative;
	width: 100%;
	overflow: hidden;
	height:380px;
}

.focus-banner-list{
	position: relative;
}
.focus-banner-list li{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.focus-banner-list li img{
	width: 100%;
	height: 380px;
}
.focus-banner-img{
	display: block;
}

.focus-banner-list .focus-banner-text{
	position: absolute;
	left: 50%;
	top: 0;
	width: 1000px;
	height: 100%;
	margin-left: -500px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	text-align: center;
}

.focus-banner .focus-handle{
	position: absolute;
	top: 50%;
	margin-top: -40px;
	z-index: 100;
	display: block;
	width: 80px;
	height: 80px;
}
.next-img{
	left: 0;
}
.next-img{
	left: 50px;
	background-position: 0 0;
}
.next-img:hover{
	background-position: 0 -80px;
}
.prev-img{
	right: 0;
}
.prev-img{
	right: 50px;
	background-position: -80px 0;
}
.prev-img:hover{
	background-position: -80px -80px;
}

.focus-bubble{
	position: absolute;
	left:50%;
	bottom:10px;
	z-index:999;
}
.focus-bubble li{
	float: left;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border:1px #fff solid;
	cursor: pointer;
}
.focus-bubble li.current{
	background-color: #cc2256;
}
.bannera{
	position:absolute ;
	z-index: 999;
	width: 215px;
	background:#f5f3f1 ;
	height: 380px;
}
.bannerb .bannerg{
	padding-left: 55px;
	color: #333;
	height: 35px;
	line-height: 35px;
	margin-top: 15px;
	cursor: pointer;
	font-size: 14px;
}
.bannerb .bannerg span{
	width:18px;
	height: 18px;
	vertical-align:middle;
	display: inline-block;
	background:url(../img/type_icon.png) no-repeat 0px -421px;
	margin-right: 10px;
}
.bannerc{
	display:none;
	position: absolute;
	left: 215px;
	top: 0px;
	z-index: 999;
	background: #fff;
	padding-left: 10px;
	height: 380px;
}
.bannera .bannerb{
	height:380px;
}
.bannera .bannerg:hover{
	color: brown;
	background: #fff;
}
.bannera .bannerg:hover span{
	background:url(../img/type_icon.png) no-repeat -80px -421px;
}
.bannere li{
	float: left;
	background: #9B9193;
	width: 82px;
	height: 24px;
	line-height: 24px;
	margin-right: 10px;
	margin-bottom: 8px;
}
.bannere{
	width: 375px;
	padding-top: 15px;
	overflow: hidden;
	
}
.bannere li a{
	margin-left:5px;
	color: #fff;
}
.bannere li b{
	width: 19px;
	display: inline-block;
	margin-left: 6px;
	text-align: center;
	background: #837679;
}
.bannere li:hover{
	background:#94193f ;
}
.bannere li:hover b{
	background:#94193F;
}
.bannerd h2{
	font-size: 14px;
	color: #333;
	margin-bottom: 20px;
}
.bannerf li{
	float: left;
	width: 80px;
	height: 80px;
	border: solid 1px #ccc;
	margin-right: 10px;
	margin-bottom: 14px;
}
.bannerf li img{
	width: 80px;
	height: 80px;
}
/*以下是中途出现的搜索框*/
.search{
	background: #94193F;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	height: 52px;
	z-index:10px;
	display: none;
}
.searchl{
	float: left;
	margin-right: 70px;
}
.searchr input{
	width: 807px;
	height: 28px;
	outline: none;
	padding-left: 5px;
}
.searchr .searchbtn{
	width: 90px;
	height: 30px;
	display: inline-block;
	background:#C41F3A;
	line-height: 30px;
	text-align: center;
	color: #fff;
	margin-left: -4px;
}
.searchr{
	margin-top:8px;
}
/*以下是今日直播*/
.seedt{
	background: #fff;
	margin-top: 40px;
	overflow: hidden;
	padding-top: 24px;
	width: 1195px;
}
.seedt ul{
	float: left;
	overflow: hidden;
	
}
.seedt ul li{
	float: left;
	padding: 0 20px;
	font-size: 18px;
	height: 48px;
	text-align: center;
}
.seedingf{
	color: #8c8c8c;
	
}
.seedingd{
	border-bottom: solid 3px #000;
}
	
.seedt div{
	float:right;
}
.seeding .seedingc{
	width: 1180px;
	height: 1px;
	background: #ccc;
	display: block;
	margin-left: 10px;
}
.seedtab{
	overflow: hidden;
	position: relative;
	width: 1200px;
	height:360px;
}
.seedtab ul li{
	float: left;
	border: 3px solid #fff;
	width: 220px;
	height: 220px;
}
.seedtab ul .ki{
	margin-right:85px;
}
.seedtab ul li:hover{
	border:3px solid red ;
}
.seedtab ul{
	overflow: hidden;
	height: 225px;
	width:3600px ;
	position: absolute;
	left: 0;
}
.seedtab ul li img{
	width: 220px;
}
.aleft{
	position: absolute;
	left:0px;
	top: 100px;
	width:40px;
	height: 30px;
	display: block;
	background:#ccc;
	line-height: 30px;
	text-align: center;
	z-index: 3;
}
.aright{
	position: absolute;
	right: 0;
	top: 100px;
	width:40px;
	height: 30px;
	display: block;
	background:#ccc;
	line-height: 30px;
	text-align: center;
	z-index: 3;
}
/*以下是限时抢购*/
.xsqg_title{
	border-bottom:solid 1px #C4193F;
	margin-top:0 ;
	height: 41px;
}
.xsqg_title p{
	float: left;
	font-size: 28px;
	padding-bottom:4px;
	color: #333;
}
.xsqg_title ul li{
	float: left;
	height: 37px;
	line-height:37px;
	position: relative;
	border: 0;
}
.xsqg{
	margin-top: 40px;
}
.xsqg_title ul{
	margin-left: 875px;
}
.xsqg_title ul li span{
	height: 14px;
	width: 1px;
	background: #ccc;
	position: absolute;
	top: 13px;
	right:0;
}
.xsqg_title ul .on span{
	display: none;
}
.xsqg_title ul li a{
	padding: 0 12px;
	display: block;
	height: 35px;
	line-height: 35px;
	border-right: 2px solid #fbfbfb;
	border-left: solid 2px #FBFBFB;
	border-top: solid 2px #FBFBFB;
	color: #434343;
	font-size: 14px;
	margin-left: 0;
}
.xsqg_title .on a{
	color: #C4193F;
	border-left: solid 2px #C4193F;
	border-right: solid 2px #C4193F;
	border-top: solid 2px #C4193F;
	background: #fff;
	border-bottom: solid 1px #fff;
	padding-top:4px;
}

.xsqg_tab{
	overflow: hidden;
	position: relative;
	width: 1215px;
	margin-top: 20px;
}
.xsqg_tab ul{
	width: 3645px;
	position: relative;
	left: 0;
	overflow: hidden;
	display: none;
}
.xsqg_tab .xsqgon{
	display: block;
}
.xsqg_tab ul li:hover img{
	opacity: 0.5;
}
.xsqg_tab ul li{
	float: left;
	width: 228px;
	margin-right: 15px;
}
.xsqg_tab .xsqg_countdown{
	background:#000;
	color: #fff;
	width: 228px;
	height: 26px;
	line-height: 26px;
	text-align: center;
}
.xsqg_countdown i{
	font-style: normal;
}
.xsqga{
	display: block;
}
.xsqga p{
	color: #333;
	margin-bottom: 15px;
	
}
.xsqga .xsqgp{
	color: #999;
	margin-top: 12px;
	margin-bottom: 5px;
}
.xsqg_btn{
	height: 33px;
}
.xsqg_bl{
	width: 107px;
	height: 31px;
	float: left;
	border: solid 1px #2178d2;
	line-height: 31px;
}
.xsqg_bl span{
	font-size: 16px;
	padding-left: 6px;
	color: #2178d2;
}
.xsqg_bl del{
	font-size: 12px;
	color: #969696;
}
.xsqg_btn a{
	display: block;
	float: right;
	width: 119px;
	height: 33px;
	background: #2178d2;
	text-align: center;
	color: #fff;
	font-size: 16px;
	line-height: 33px;
}
/*以下是新品推荐*/
.newgroomt{
	position: relative;
	height: 40px;
	margin-top: 35px;
	border-bottom:  solid 1px #cfcfcf;
}
.newgroomt .l2t{
	font-size: 28px;
	padding-bottom: 4px;
	color: #333;
	position: absolute;
	bottom: -2px;
	border-bottom: solid 3px #000;
	left: 0;
}
.change_good{
	position: absolute;
	right: 10px;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	color: #999;
}
.change_good b{
	display: inline-block;
	margin-left: 18px;
	width: 20px;
	height: 19px;
	background: url(../img/icon_list.png) -41px -2px;
}
.newgroom_list{
	padding-top: 20px;
	overflow: hidden;
}
.newgroom_list li img{
	width: 224px;
	height: 224px;
}
.newgroom_list li{
	width: 220px;
	float: left;
	padding-right:6px;
	margin-right: 10px;
	border: solid 2px #fff;
}
.newgroom_list .goodl{
	margin-right: 0;
}
.good_list1{
	color: #999;
	margin-bottom: 10px;
}
.good_list2{
	color: #333;
	margin-bottom: 15px;
}
.good_list3 span{
	font-size: 22px;
	color: #c4193f;
}
.good_list3 del{
	font-size: 12px;
	color: #969696;
}
.newgroom_list .goodList{
	border: solid 2px #94193F;
}
.newgroom_list .goodList p{
	text-decoration: underline;
}
.quality{
	font-size: 28px;
	padding-bottom: 4px;
	color: #333;
	position: absolute;
	bottom: -2px;
	border-bottom: solid 3px #000;
	left: 0;
}
.newquality_t{
	position: relative;
	height: 40px;
	margin-top: 35px;
	border-bottom:  solid 1px #cfcfcf;
}
.newquality_list{
	margin-top: 20px;
	overflow: hidden;
}
.newquality_list li{
	width: 590px;
	float:left;
	margin-right:17px;
	margin-top: 20px;
}
.newquality_list li img{
	width:590px
}
.newquality_list .quality2{
	margin-right: 0;
}
.newquality_list li:hover img{
	opacity: 0.5;
}
/*以下是精选活动*/
.newselection_t{
	width: 1200px;
	border-bottom: solid 1px #cfcfcf;
	margin-top:40px;
}
.selection{
	width: 122px;
	font-size: 28px;
	color: #333;
	padding-bottom: 4px;
	border-bottom: 3px solid #000;
}
.newselect{
	margin-top: 18px;
	overflow: hidden;
}
.newselect li{
	float: left;
	width: 590px;
	height: 235px;
	margin-right: 16px;
	margin-top: 20px;
	position: relative;
}
.newselect .select1{
	margin-right: 0;
}
.select2{
	background: url(../img/icon_list.png) repeat scroll 0 -405px;
	width: 156px;
	height: 156px;
	margin: 40px auto 0 auto;
	text-align:center;
}
.select3{
	display: block;
	padding: 38px 12px;

}
.select4{
	border-bottom: 1px solid #d5d5d5;
	color: #000;
	font-size: 28px;
	height: 48px;
}
.select6{
	color: #94193f;
	font-size: 18px;
	height: 36px;
	line-height: 36px;
}
.select5{
	height: 235px;
	position: absolute;
	left: 0;
	top:0;
	z-index: 2;
	width: 100%;
	background: url(../img/tm_bg.png) repeat scroll 0 0;
	display: none;
}
.select4 span{
	font-size: 32px;
}
