
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1488958985494'); /* IE9*/
  src: url('iconfont.eot?t=1488958985494#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1488958985494') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1488958985494') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1488958985494#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before { content: "\3435"; }

.icon-msnui-cart:before { content: "\e672"; }

.icon-my:before { content: "\e607"; }

.icon-fenlei:before { content: "\f0012"; }

.icon-dadiku:before { content: "\e630"; }

.icon-fengyizhong:before { content: "\e637"; }

.icon-mianfu:before { content: "\e63b"; }

.icon-xiuxianku:before { content: "\e649"; }

.icon-yangrongshan:before { content: "\e64c"; }

.icon-waitao:before { content: "\e643"; }

.icon-29:before { content: "\e61d"; }

.icon-piyi:before { content: "\e664"; }

.icon-lifuzhuanhuan:before { content: "\e666"; }

.icon-chenshanzhuanhuan:before { content: "\e670"; }

.icon-txu:before { content: "\e628"; }

.icon-cao:before { content: "\e60c"; }

.icon-shouye-shouye:before { content: "\e601"; }

.icon-xinpin-:before { content: "\e6aa"; }

.icon-niuziku:before { content: "\e638"; }

.icon-weiyi:before { content: "\e66a"; }

