<div class="top">
    <i class="home icon"></i>
    <a href="javascript:;">首页</a>
    <i class="right chevron icon jiant"></i>
    <a href="javascript:;" class="xitong">系统</a>
    <i class="right chevron icon jiant"></i>
    <a href="javascript:;">用户管理</a>
</div>
<div class="form">
    <label>昵称:</label><input type="text" class="smui_text" id="txtUSER_NAME" field="USER_NAME"/>
    <label>权限:</label>
    <div class="ui dropdown selection smui_dropdown search" smui_options="d1" id="quanxian">
    </div>
    <div id="btnSearch" class="ui blue button">查询</div>
    <div class="ui green button" id="add">增加</div>
    <table class="ui celled table display" id="example" width="100%">
        <thead>
        
        </thead>
        <tbody>

        </tbody>
       
    </table>
    
</div>
<script class="demo" type="text/html">
    <div class="ui model for_submit"  style="width:925px;" id="axiugai">
        <table class="ui table">
            <tr>
                 <td class="textName required beijing">登录名:</td>
                <td>
                    <input class="smui_text" field="USER_LOGIN" />
                </td>
                <td>
                    
                </td>
                <td class="required beijing">
                    权限：
                </td>
                <td>
                    <div field_text="权限" class="ui selection dropdown smui_dropdown multiple" field="PROFILE_KEY"
                         smui_options="d2" style="width:400px">
                    </div>
                </td>
                <td>
                   
                </td>
            </tr>
            <tr>
                <td class="required beijing">昵称</td>
                <td>
                    <input class="smui_text" field="USER_NAME" />
                </td>
                <td>
                    
                </td>
                <td class="beijing">
                    姓名：
                </td>
                <td>
                    <input class="smui_text" field="REAL_NAME" />
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="beijing">诊所</td>
                <td>
                    <div class="ui selection dropdown smui_dropdown" field="HOSPITAL_KEY" id="ddlHOSPITAL" field_text="请选择"
                         smui_options="HospitalConfig">
                    </div>
                </td>
                <td>

                </td>
                <td class="beijing">医生:</td>
                <td>
                    <div class="ui selection dropdown smui_dropdown" field="DOCTOR_KEY" id="ddlDOCTOR" field_text="请选择"
                         smui_options="DoctorConfig">
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="beijing">性别:</td>
                <td>
                    <div field_text="性别" class="ui selection dropdown smui_dropdown" field="SEX_VARIABLE_KEY"
                         id="ddlSex" smui_options="SexConfig">
                    </div>
                </td>
                <td></td>
                <td class="beijing">生日:</td>
                <td>
                    <input class="smui_datebox" field="BIRTHDAY" />
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="beijing">证件类型:</td>
                <td>
                    <div class="ui selection dropdown smui_dropdown" field="CERT_VARIABLE_KEY" smui_options="CertTypeConfig"></div>
                </td>
                <td>

                </td>
                <td class="beijing">证件号:</td>
                <td>
                    <input class="smui_text" field="CERT_ID_NUMBER" />
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="beijing">手机号:</td>
                <td>
                    <input class="smui_text" field="CELL_PHONE" />
                </td>
                <td></td>
                <td class="beijing">
        邮箱:
                </td>
                <td>
                    <input class="smui_text" field="EMALL" />
                </td>
            </tr>
            <tr>
                <td class="beijing">地址:</td>
                <td  colspan="5">
                    <input class="smui_text" field="ADDRESS" style="width:800px" />
                </td>
            </tr>
            <tr>
                <td class="beijing">
        备注:
                </td>
                <td colspan="5">
                    <textarea field="COMMENT " rows="5" style="height: 60px;width:800px"></textarea>
                </td>
            </tr>
        </table>
    </div>
</script>
@*@Scripts.Render(Url.Content4Version("~/Function/SystemConfig/UserManage.js"))*@
@Scripts.Render(Url.Content4Version("~/Function/SystemConfig/UserMangerO.js"))
@Styles.Render(Url.Content4Version("~/Function/SystemConfig/UserManage.css"))

